<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      Acerca de
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">
            Soy ingeniero en computación, me apasionan los retos y el aprendizaje de nuevas tecnologías, tengo experiencia
            en desarrollo de aplicaciones web con tecnologías como Angular y Spring Boot, desarrollo de aplicaciones
            móviles con Ionic, y estoy en constante aprendizaje y mejora.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">
          Actualmente soy pasante en la empresa H3 Consulting, estoy interesado en participar como desarrollador
          o consultor en algún proyecto de tecnología perteneciente a mi área de conocimiento, si así lo
          deseas puedes descargar mi CV en formato PDF donde obtendrás mi información de contacto.
        </p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light"
        href="https://startbootstrap.com/theme/freelancer/"
      >
        <i class="fas fa-download mr-2"></i>
        Free Download!
      </a>
    </div>
  </div>
</section>