<!-- Footer-->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Ubicación</h4>
        <p class="lead mb-0">
          Jilotepec, Estado de México
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Mis redes</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-twitter"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-linkedin-in"></i
        ></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"
          ><i class="fab fa-fw fa-dribbble"></i
        ></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Acerca de esta página</h4>
        <p class="lead mb-0">
          Desarrollada con Angular 11 y Bootstrap 4
        </p>
      </div>
    </div>
  </div>
</footer>